.branding {
    width: 100%;
    font-size: 1.9em;
    display: inline;
    margin: 0.3rem 2.5rem;
    font-family: 'Montserrat';
    font-weight: 500;
}

.branding a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    z-index: 5;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 4rem;
}

nav ul li {
    display: inline;
    margin-top: 1rem;
    position: relative;
    top: 1.2rem;
    font-family: 'Quicksand';
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1.3rem 1.5rem;
    transition: 0.3s;
}

.navToggle {
    margin-right: 4rem;
    font-size: 1.5em;
    position: relative;
    top: 12px;
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    padding: 0.1rem 0.5rem;
    border: 2px solid #6e6969;
    border-radius: 10px;
}

.navMenu {
    opacity: 0;
    width: 100%;
    background-color: #333333;
    position: fixed;
    top: 4.2rem;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 3;
}

.navMenu.open {
    transform: translateY(0);
    opacity: 1;
}

.navMenu a {
    color: white;
    padding: 1rem 1.5rem;
    display: flex;
    transition: 0.3s;
    position: relative;
}

.navMenu li {
    display: block;
    position: relative;
    font-family: 'Quicksand';
}

.navMenu a:hover {
    background-color: #6e6969;
}

nav ul li a:hover, .branding a:hover, .navToggle:hover {
    color: #ccc;
}
